header {
    height: 180px;
    position: relative;
    background-image: url('img/AdobeStock_278775847.jpeg');
    background-position: center 35%;
    background-attachment: fixed;
    background-size: cover;
}


.title {
    position: absolute;
    font-size: 95px;
    color: aliceblue;
    margin-left: 6%;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    /* リンク同士の間隔 */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 53%;
}

.nav-list li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    transition: color 0.2s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.nav-list li a:hover {
    color: #5cedf3;
    /* ホバー時に色を変更（例：ゴールド） */
}


body {
    margin: 0px;
}

.page_title .top_mini_eg{
    font-size: 100px;
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        0px -2px 0 #000,
        0px 2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000;
    margin-bottom: 0;
}

.page_title .top_mini_jp {
    font-size: 2rem;
    color: #000000;
    margin-top: 0;
    /* 少しだけ間隔を空けたい場合 */
    margin-left: 1%;
}

.page_title{
    margin-left: 3%;
    margin-top:6%;
    margin-bottom:6%;
}


